In [2]:
import pandas as pd
import numpy as np
#%qtconsole
import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
def return_file_path(base_url,file_name,file_seperator,intermediate_folder=''):
    if not intermediate_folder=='':
        intermediate_folder=intermediate_folder+file_seperator
    return '{}{}{}'.format(base_url,intermediate_folder,file_name)

In [4]:
if platform.system()=='Linux':
    base_url=r'/mnt/ECFC8291FC8255AC/Datasets/Codevita Results/'
    file_seperator='/'
else:
    file_seperator='\\'
    base_url='F:\\Datasets\\Codevita Results\\'
intermediate_folder=''

In [5]:
results_2k15_df=pd.read_excel('./results_2k15_backlinked.xlsx')
results_2k16_df=pd.read_excel('./results_2k16_backlinked.xlsx')
results_2k17_df=pd.read_excel('./results_2k17_backlinked.xlsx')

In [6]:
results_2k15_df['year']='2k15'
results_2k16_df['year']='2k16'
results_2k17_df['year']='2k17'

In [7]:
results_2k15_df.columns

Index(['Unnamed: 0', 'Rank', 'team_name', 'tcs_region', 'users_name',
       'college_name', 'user_1', 'user_2', 'mod_index', 'master_mod_index',
       'college_name_master', 'tcs_region_master', 'year'],
      dtype='object')

In [8]:
results_2k16_df.columns

Index(['college_name_prerectified', 'ranks', 'tcs_region_prerectified',
       'team_name', 'user_name', 'user_1', 'user_2', 'college_name',
       'tcs_region', 'mod_index', 'master_mod_index', 'college_name_master',
       'tcs_region_master', 'year'],
      dtype='object')

In [9]:
results_2k17_df.columns

Index(['Unnamed: 0', 'college_name', 'problems_solved', 'round1_rank',
       'user_name', 'zonal_name', 'zonal_rank', 'mod_index',
       'master_mod_index', 'college_name_master', 'tcs_region_master', 'year'],
      dtype='object')

In [9]:
results_2k15_df.user_1=results_2k15_df.user_1.str.strip().str.lower()
results_2k15_df.user_2=results_2k15_df.user_2.str.strip().str.lower()

In [10]:
results_2k16_df.user_1=results_2k16_df.user_1.str.strip().str.lower()
results_2k16_df.user_2=results_2k16_df.user_2.str.strip().str.lower()

In [11]:
results_2k17_df.user_name=results_2k17_df.user_name.str.strip().str.lower()

In [1]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')

In [12]:
results_2k15_users=results_2k15_df.loc[:,['user_1','user_2','college_name_master', 'tcs_region_master',
       'mod_index','year','master_mod_index']]
results_2k16_users=results_2k16_df.loc[:,['user_1','user_2','college_name_master', 'tcs_region_master',
       'mod_index','year','master_mod_index']]
results_2k17_users=results_2k17_df.loc[:,['user_name','college_name_master', 'tcs_region_master',
       'mod_index','year','master_mod_index']].rename(columns={'user_name':'user'})

In [13]:
results_combined=pd.DataFrame(results_2k17_users,columns=['year','user','college_name_master','tcs_region_master','mod_index','master_mod_index'])

In [14]:
results_2k15_users_part1=results_2k15_df.loc[:,['year','user_1','college_name_master', 'tcs_region_master','mod_index',
       'master_mod_index']].rename(columns={'user_1':'user'})
results_2k15_users_part2=results_2k15_df.loc[:,['year','user_2','college_name_master', 'tcs_region_master','mod_index',
       'master_mod_index']].rename(columns={'user_2':'user'})
results_2k16_users_part1=results_2k16_df.loc[:,['year','user_1','college_name_master', 'tcs_region_master','mod_index',
       'master_mod_index']].rename(columns={'user_1':'user'})
results_2k16_users_part2=results_2k16_df.loc[:,['year','user_2','college_name_master', 'tcs_region_master','mod_index',
       'master_mod_index']].rename(columns={'user_2':'user'})

In [15]:
print((sum(results_2k15_users_part1.user.isnull()),sum(results_2k15_users_part2.user.isnull()),sum(results_2k16_users_part1.user.isnull()),sum(results_2k16_users_part2.user.isnull()),sum(results_2k17_users.user.isnull())))

(0, 0, 0, 0, 0)

In [16]:
results_combined=results_combined.append(results_2k15_users_part1,ignore_index=True)
results_combined=results_combined.append(results_2k15_users_part2,ignore_index=True)
results_combined=results_combined.append(results_2k16_users_part1,ignore_index=True)
results_combined=results_combined.append(results_2k16_users_part2,ignore_index=True)

In [17]:
results_combined.shape

(16282, 6)

In [18]:
sum(results_combined.user.isnull())

0

In [19]:
sum(results_combined.master_mod_index.isnull())

0

In [20]:
results_combined.columns

Index(['year', 'user', 'college_name_master', 'tcs_region_master', 'mod_index',
       'master_mod_index'],
      dtype='object')

In [21]:
unique_users=results_combined.drop_duplicates(['user','master_mod_index'])

In [22]:
sum(unique_users.user.isnull())

0

In [23]:
sum(unique_users.master_mod_index.isnull())

0

In [24]:
unique_users.shape

(14932, 6)

In [25]:
unique_users.year.value_counts()

2k16    7033
2k15    5518
2k17    2381
Name: year, dtype: int64

In [26]:
results_combined.shape[0]-unique_users.shape[0]

1350

In [27]:
unique_users=unique_users.reindex(list(range(unique_users.shape[0])))

In [28]:
unique_users.tail()

,year,user,college_name_master,tcs_region_master,mod_index,master_mod_index
14927,2k16,kumar,National Institute of Technology,Kolkata,2k16_207,2k15_478
14928,2k16,praveen kumar,National Institute of Technology,Kolkata,2k16_302,2k15_478
14929,2k16,saif ansari,National Institute of Technology,Kolkata,2k16_302,2k15_478
14930,2k16,amit kumar,National Institute of Technology,Kolkata,2k16_302,2k15_478
14931,2k16,sumit saha,National Institute of Technology,Kolkata,2k16_302,2k15_478

In [27]:
unique_users=unique_users.loc[:,['year','user','college_name_master','tcs_region_master','master_mod_index']]

In [28]:
unique_users.shape

(14932, 5)

In [29]:
unique_users.to_excel('./2k15_2k16_2k17_unique_users.xlsx',index=False)