In [1]:
import pandas as pd
import numpy as np
#%qtconsole
import platform
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
def return_file_path(base_url,file_name,file_seperator,intermediate_folder=''):
    if not intermediate_folder=='':
        intermediate_folder=intermediate_folder+file_seperator
    return '{}{}{}'.format(base_url,intermediate_folder,file_name)

In [3]:
if platform.system()=='Linux':
    base_url=r'/mnt/ECFC8291FC8255AC/Datasets/Codevita Results/'
    file_seperator='/'
else:
    file_seperator='\\'
    base_url='F:\\Datasets\\Codevita Results\\'
intermediate_folder=''

In [4]:
results_2k15_df=pd.read_excel('./results_2k15_df_backlinking_users.xlsx')
results_2k16_df=pd.read_excel('./results_2k16_df_backlinking_users.xlsx')
results_2k17_df=pd.read_excel('./results_2k17_df_backlinking_users.xlsx')

In [5]:
results_2k15_df.columns

Index(['Rank', 'team_name', 'tcs_region', 'users_name', 'college_name',
       'user_1', 'user_2', 'mod_index', 'master_mod_index',
       'college_name_master', 'tcs_region_master', 'year', 'id_user1',
       'id_user2'],
      dtype='object')

In [6]:
results_2k16_df.columns

Index(['college_name_prerectified', 'ranks', 'tcs_region_prerectified',
       'team_name', 'user_name', 'user_1', 'user_2', 'college_name',
       'tcs_region', 'mod_index', 'master_mod_index', 'college_name_master',
       'tcs_region_master', 'year', 'id_user1', 'id_user2'],
      dtype='object')

In [7]:
results_2k17_df.columns

Index(['college_name', 'problems_solved', 'round1_rank', 'user1', 'zonal_name',
       'zonal_rank', 'mod_index', 'master_mod_index', 'college_name_master',
       'tcs_region_master', 'year', 'id_user1'],
      dtype='object')

In [8]:
(results_2k15_df.Rank.is_unique,results_2k16_df.ranks.is_unique)

(True, True)

#### Adding regional ranks for 2k15 and 2k16

In [9]:
regions=results_2k15_df.tcs_region.unique()
results_2k15_df=results_2k15_df.sort_values('Rank',ascending=True)
results_2k16_df=results_2k16_df.sort_values('ranks',ascending=True)
for region in regions:
    subset_mask_2k15=results_2k15_df.tcs_region==region
    results_2k15_df.loc[subset_mask_2k15,'region_rank']=range(1,sum(subset_mask_2k15)+1)
    subset_mask_2k16=results_2k16_df.tcs_region==region  #Works because both 2k15 and 2k16 have the same regions
    results_2k16_df.loc[subset_mask_2k16,'region_rank']=range(1,sum(subset_mask_2k16)+1)

In [10]:
print(sum(results_2k16_df.tcs_region=='Kolkata'))
results_2k16_df[results_2k16_df.tcs_region=='Kolkata'].tail()

708

,college_name_prerectified,ranks,tcs_region_prerectified,team_name,user_name,user_1,user_2,college_name,tcs_region,mod_index,master_mod_index,college_name_master,tcs_region_master,year,id_user1,id_user2,region_rank
2597,Kalinga Institute of Industrial,4121,Kolkata,Buzzkills,Prachi Priyam & Mohit Snehal,prachi priyam,mohit snehal,Kalinga Institute of Industrial,Kolkata,2k16_180,2k15_22,Kalinga Institute of Industrial & Technology (...,Kolkata,2k16,10006,13539,704.0
345,"Techno India, Salt Lake",4132,Kolkata,The Technocians,Souvik Roy & Souvik Laha,souvik roy,souvik laha,"Techno India, Salt Lake",Kolkata,2k16_10,2k15_124,"Techno India, Salt Lake",Kolkata,2k16,8145,11611,705.0
2087,Indian Institute of Engineering Science and Te...,4136,Kolkata,iiestÂ­idiots,Munshi Akhtar & Sayantan Adak,munshi akhtar,sayantan adak,Indian Institute of Engineering Science and Te...,Kolkata,2k16_130,2k16_130,Indian Institute of Engineering Science and Te...,Kolkata,2k16,9589,13104,706.0
2927,"Academy of Technology, Kolkata",4143,Kolkata,Team 10,Vishnu Choudhary & Shuvam Chaturvedi,vishnu choudhary,shuvam chaturvedi,"Academy of Technology, Kolkata",Kolkata,2k16_232,2k15_239,"Academy of Technology, Kolkata",Kolkata,2k16,10273,13821,707.0
3233,BP Poddar Inst for Engg,4150,Kolkata,codehack55,Kewal Agarwal & Harsh Agarwal,kewal agarwal,harsh agarwal,BP Poddar Inst for Engg,Kolkata,2k16_282,2k15_435,b p poddar institute of management and technology,Kolkata,2k16,10534,14101,708.0

#### Overall Percentile

In [11]:
results_2k15_df['overall_percentile']=1-results_2k15_df.Rank.rank(pct=True)
results_2k16_df['overall_percentile']=1-results_2k16_df.ranks.rank(pct=True)
results_2k15_df.loc[results_2k15_df.index[0],'overall_percentile']=1 #Manually setting percentile of topper to 100% (which might not be the case due to calculation errors)
results_2k16_df.loc[results_2k16_df.index[0],'overall_percentile']=1 #Manually setting percentile of topper to 100%
print(results_2k15_df.overall_percentile.head())
print(results_2k15_df.overall_percentile.tail())
print(results_2k16_df.overall_percentile.head())
print(results_2k16_df.overall_percentile.tail())

1719    1.000000
2559    0.999290
2223    0.998934
811     0.998579
2349    0.998224
Name: overall_percentile, dtype: float64
460     0.001421
2220    0.001066
2271    0.000710
1993    0.000355
1439    0.000000
Name: overall_percentile, dtype: float64
0      1.000000
12     0.999516
16     0.999274
110    0.999033
111    0.998791
Name: overall_percentile, dtype: float64
1051    0.000967
2760    0.000726
3302    0.000484
1677    0.000242
3233    0.000000
Name: overall_percentile, dtype: float64

#### Zonal/Regional Percentile

In [12]:
for region in regions:
    subset_mask_2k15=results_2k15_df.tcs_region==region
    results_2k15_df.loc[subset_mask_2k15,'region_percentile']=1-results_2k15_df.loc[subset_mask_2k15,'region_rank'].rank(pct=True)
    subset_mask_2k16=results_2k16_df.tcs_region==region  #Works because both 2k15 and 2k16 have the same regions
    results_2k16_df.loc[subset_mask_2k16,'region_percentile']=1-results_2k16_df.loc[subset_mask_2k16,'region_rank'].rank(pct=True)

In [13]:
#Setting the regional toppers percentile to 100%
results_2k15_df.loc[results_2k15_df.region_rank==1,'region_percentile']=1
results_2k16_df.loc[results_2k16_df.region_rank==1,'region_percentile']=1

In [14]:
print(sum(results_2k16_df.tcs_region=='Ahmedabad'))
results_2k16_df[results_2k16_df.tcs_region=='Ahmedabad'].tail()

344

,college_name_prerectified,ranks,tcs_region_prerectified,team_name,user_name,user_1,user_2,college_name,tcs_region,mod_index,master_mod_index,college_name_master,tcs_region_master,year,id_user1,id_user2,region_rank,overall_percentile,region_percentile
1847,"Vishwakarma Government Engineering College, Ga...",4049,Ahmedabad,OutOfBoundException,Dimple Shah & Swati Solanki,dimple shah,swati solanki,"Vishwakarma Government Engineering College, Ga...",Ahmedabad,2k16_105,2k15_39,"Vishwakarma Government Engineering College, Ga...",Ahmedabad,2k16,5753,12878,340.0,0.024426,0.011628
1848,"Vishwakarma Government Engineering College, Ga...",4055,Ahmedabad,kp1417,Pinal Pithadiya & Krupa Suthar,pinal pithadiya,krupa suthar,"Vishwakarma Government Engineering College, Ga...",Ahmedabad,2k16_105,2k15_39,"Vishwakarma Government Engineering College, Ga...",Ahmedabad,2k16,9376,12879,341.0,0.022975,0.008721
1849,"Vishwakarma Government Engineering College, Ga...",4066,Ahmedabad,DB coders,Bin Patel & Dhruv Mistry,bin patel,dhruv mistry,"Vishwakarma Government Engineering College, Ga...",Ahmedabad,2k16_105,2k15_39,"Vishwakarma Government Engineering College, Ga...",Ahmedabad,2k16,9377,12880,342.0,0.020314,0.005814
694,"Sardar Vallabh Regional Engineering College, S...",4142,Ahmedabad,AMCODERS,Moulya Kotha & Anuja Kurakula,moulya kotha,anuja kurakula,"Sardar Vallabh Regional Engineering College, S...",Ahmedabad,2k16_34,2k15_48,"Sardar Vallabh Regional Engineering College, S...",Ahmedabad,2k16,8425,11897,343.0,0.001935,0.002907
2760,Birla Vishwakarma MahavidyalayaÂ­Anand,4147,Ahmedabad,codingarmy,Dhruvkumar Patel & Ketan Bhalerao,dhruvkumar patel,ketan bhalerao,Birla Vishwakarma MahavidyalayaÂ­Anand,Ahmedabad,2k16_205,2k15_40,Birla Vishwakarma Mahavidyalaya-Anand,Ahmedabad,2k16,10128,13678,344.0,0.000726,0.000000

In [15]:
results_2k16_df[results_2k16_df.tcs_region=='Ahmedabad'].head()

,college_name_prerectified,ranks,tcs_region_prerectified,team_name,user_name,user_1,user_2,college_name,tcs_region,mod_index,master_mod_index,college_name_master,tcs_region_master,year,id_user1,id_user2,region_rank,overall_percentile,region_percentile
166,"Dharamsinh Desai Instt. of Tech., Nadiad",9,Ahmedabad,CodeCrunchers,Abhishek Patel & Jasmin Valgotar,abhishek patel,jasmin valgotar,"Dharamsinh Desai Instt. of Tech., Nadiad",Ahmedabad,2k16_7,2k15_50,"Dharamsinh Desai Instt. of Tech., Nadiad",Ahmedabad,2k16,3103,5864,1.0,0.997823,1.000000
167,"Dharamsinh Desai Instt. of Tech., Nadiad",13,Ahmedabad,illogical,Deep Shah & Dhaval Mehta,deep shah,dhaval mehta,"Dharamsinh Desai Instt. of Tech., Nadiad",Ahmedabad,2k16_7,2k15_50,"Dharamsinh Desai Instt. of Tech., Nadiad",Ahmedabad,2k16,5856,705,2.0,0.996856,0.994186
400,Dhirubhai Ambani Inst of Information,15,Ahmedabad,algomakers,Aayush Kapadia & Suparshva Mehta,aayush kapadia,suparshva mehta,Dhirubhai Ambani Inst of Information,Ahmedabad,2k16_12,2k15_234,Dhirubhai Ambani Inst of Information & Communi...,Ahmedabad,2k16,4429,2,3.0,0.996372,0.991279
401,Dhirubhai Ambani Inst of Information,24,Ahmedabad,FruitSaladJunior,Yash Kumar & Karan Thakkar,yash kumar,karan thakkar,Dhirubhai Ambani Inst of Information,Ahmedabad,2k16_12,2k15_234,Dhirubhai Ambani Inst of Information & Communi...,Ahmedabad,2k16,7,11657,4.0,0.994196,0.988372
688,"Sardar Vallabh Regional Engineering College, S...",45,Ahmedabad,Intoxicated Ciphers,Abishek A & Adesh Kala,abishek a,adesh kala,"Sardar Vallabh Regional Engineering College, S...",Ahmedabad,2k16_34,2k15_48,"Sardar Vallabh Regional Engineering College, S...",Ahmedabad,2k16,8419,11892,5.0,0.989117,0.985465

In [16]:
results_2k15_df=results_2k15_df.rename(columns={'Rank':'overall_rank','users_name':'user_name'})

In [17]:
results_2k16_df=results_2k16_df.drop(['college_name_prerectified','tcs_region_prerectified'],axis=1).rename(columns={'ranks':'overall_rank'})

In [18]:
results_2k17_df=results_2k17_df.rename(columns={'round1_rank':'overall_rank','user1':'user_1','zonal_name':'tcs_region','zonal_rank':'region_rank'})

In [19]:
results_2k15_df.columns

Index(['overall_rank', 'team_name', 'tcs_region', 'user_name', 'college_name',
       'user_1', 'user_2', 'mod_index', 'master_mod_index',
       'college_name_master', 'tcs_region_master', 'year', 'id_user1',
       'id_user2', 'region_rank', 'overall_percentile', 'region_percentile'],
      dtype='object')

In [20]:
results_2k16_df.columns

Index(['overall_rank', 'team_name', 'user_name', 'user_1', 'user_2',
       'college_name', 'tcs_region', 'mod_index', 'master_mod_index',
       'college_name_master', 'tcs_region_master', 'year', 'id_user1',
       'id_user2', 'region_rank', 'overall_percentile', 'region_percentile'],
      dtype='object')

In [21]:
results_2k17_df.columns

Index(['college_name', 'problems_solved', 'overall_rank', 'user_1',
       'tcs_region', 'region_rank', 'mod_index', 'master_mod_index',
       'college_name_master', 'tcs_region_master', 'year', 'id_user1'],
      dtype='object')

In [22]:
results_df_combined_tableau=pd.DataFrame(results_2k15_df)
results_df_combined_tableau=results_df_combined_tableau.append(results_2k16_df)
results_df_combined_tableau=results_df_combined_tableau.append(results_2k17_df)

In [23]:
year_replace_dict={'2k15':2015,'2k16':2016,'2k17':2017}
results_df_combined_tableau.year=results_df_combined_tableau.year.apply(lambda x:year_replace_dict[x])
results_df_combined_tableau.year.dtype

dtype('int64')

In [24]:
results_df_combined_tableau.to_excel('./results_combined_for_tableau.xlsx',index=False)