In [1]:
import pandas as pd
import numpy as np
#%qtconsole
import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def return_file_path(base_url,file_name,file_seperator,intermediate_folder=''):
    if not intermediate_folder=='':
        intermediate_folder=intermediate_folder+file_seperator
    return '{}{}{}'.format(base_url,intermediate_folder,file_name)

In [3]:
if platform.system()=='Linux':
    base_url=r'/mnt/ECFC8291FC8255AC/Datasets/Codevita Results/'
    file_seperator='/'
else:
    file_seperator='\\'
    base_url='F:\\Datasets\\Codevita Results\\'
intermediate_folder=''

In [4]:
college_list=pd.read_excel('./college_combined_2k15_2k16_2k17.xlsx')
college_list.head()

,coll_name_case_independent,coll_name_norm_wo_common_words,coll_name_norm_wo_common_words_v2,college_name,college_name_normalized,master_mod_index,mod_index,tcs_region
0,"srm engineering college., kattankulathur",srm kattankulathur,srm kattankulathur,"Srm Engineering College., Kattankulathur",srm engineering college kattankulathur,2k15_0,2k15_0,Chennai
1,"army institute of technology,pune university, ...",army pune pune,army pune pune,"Army Institute of Technology,Pune University, ...",army institute of technology pune university pune,2k15_1,2k15_1,Pune
2,"osmania university, hyderabad",osmania hyderabad,osmania hyderabad,"Osmania University, Hyderabad",osmania university hyderabad,2k15_2,2k15_2,Hyderabad
3,"medicaps inst of tech & management, indore",medicaps tech indore,medicaps tech indore,"Medicaps Inst of Tech & Management, Indore",medicaps inst of tech management indore,2k15_3,2k15_3,Mumbai
4,"ramrao adik institute of technology,nerul",ramrao adik nerul,ramrao adik nerul,"Ramrao Adik Institute of Technology,Nerul",ramrao adik institute of technology nerul,2k15_4,2k15_4,Mumbai

In [5]:
college_list=college_list.sort_values('master_mod_index')

In [6]:
college_list.head()

,coll_name_case_independent,coll_name_norm_wo_common_words,coll_name_norm_wo_common_words_v2,college_name,college_name_normalized,master_mod_index,mod_index,tcs_region
0,"srm engineering college., kattankulathur",srm kattankulathur,srm kattankulathur,"Srm Engineering College., Kattankulathur",srm engineering college kattankulathur,2k15_0,2k15_0,Chennai
1653,"srm engineering college., kattankulathur",srm kattankulathur,srm kattankulathur,"Srm Engineering College., Kattankulathur",srm engineering college kattankulathur,2k15_0,2k17_420,zone3
691,"srm engineering college., kattankulathur",srm kattankulathur,srm kattankulathur,"Srm Engineering College., Kattankulathur",srm engineering college kattankulathur,2k15_0,2k16_143,Chennai
1257,"army institute of technology,pune university, ...",army pune pune,army pune pune,"Army Institute of Technology,Pune University, ...",army institute of technology pune university pune,2k15_1,2k17_24,zone2
599,"army institute of technology,pune university, ...",army pune pune,army pune pune,"Army Institute of Technology,Pune University, ...",army institute of technology pune university pune,2k15_1,2k16_51,Pune

In [7]:
results_2k15_df=pd.read_csv(return_file_path(base_url,'codevita_2k15_preprocessed.csv',file_seperator,'generated_preprocessing'))
results_2k16_df=pd.read_csv(return_file_path(base_url,'results_2k16_preprocessed.csv',file_seperator,'generated_preprocessing'))
results_2k17_df=pd.read_csv(return_file_path(base_url,'codevita_2k17_scrapped.csv',file_seperator))

In [8]:
(results_2k15_df.shape[0],results_2k16_df.shape[0],results_2k17_df.shape[0])

(2815, 4150, 2382)

See screenshots 6 and 7 to understand why it is necessary to remove leading and trailing whitespaces

In [9]:
results_2k15_df.columns

Index(['Unnamed: 0', 'Rank', 'team_name', 'tcs_region', 'users_name',
       'college_name', 'user_1', 'user_2'],
      dtype='object')

In [10]:
results_2k16_df.columns

Index(['college_name', 'ranks', 'tcs_region', 'team_name', 'user_name',
       'user_1', 'user_2', 'college_name_modified', 'tcs_region_modified'],
      dtype='object')

In [11]:
results_2k17_df.columns

Index(['Unnamed: 0', 'college_name', 'problems_solved', 'round1_rank',
       'user_name', 'zonal_name', 'zonal_rank'],
      dtype='object')

In [12]:
results_2k15_df.college_name=results_2k15_df.college_name.str.strip()
results_2k16_df.college_name=results_2k16_df.college_name_modified.str.strip()
results_2k17_df.college_name=results_2k17_df.college_name.str.strip()

In [13]:
college_list.columns

Index(['coll_name_case_independent', 'coll_name_norm_wo_common_words',
       'coll_name_norm_wo_common_words_v2', 'college_name',
       'college_name_normalized', 'master_mod_index', 'mod_index',
       'tcs_region'],
      dtype='object')

In [14]:
#Slicing the college list year wise
college_list_2k15=college_list[college_list.mod_index.str.startswith('2k15_')]
college_list_2k16=college_list[college_list.mod_index.str.startswith('2k16_')]
college_list_2k17=college_list[college_list.mod_index.str.startswith('2k17_')]

In [15]:
assert college_list_2k17.shape[0]+college_list_2k16.shape[0]+college_list_2k15.shape[0]==college_list.shape[0]
print((college_list_2k15.shape[0],college_list_2k16.shape[0],college_list_2k17.shape[0]))

(548, 685, 499)

In [16]:
results_2k15_df=results_2k15_df.merge(college_list_2k15.loc[:,['mod_index','master_mod_index','college_name']],how='left',left_on='college_name',right_on='college_name')

In [17]:
results_2k15_df.head()

,Unnamed: 0,Rank,team_name,tcs_region,users_name,college_name,user_1,user_2,mod_index,master_mod_index
0,0,2294,CRUSADERS,Chennai,Arjun Panicker & Aditya Bharti,"Srm Engineering College., Kattankulathur",Arjun Panicker,Aditya Bharti,2k15_0,2k15_0
1,1,261,theAces,Pune,Sudhanshu Singh & Vikram Jadon,"Army Institute of Technology,Pune University, ...",Sudhanshu Singh,Vikram Jadon,2k15_1,2k15_1
2,2,2148,RMCoderz,Hyderabad,Meghana Reddy & Rushil Basappa,"Osmania University, Hyderabad",Meghana Reddy,Rushil Basappa,2k15_2,2k15_2
3,3,1473,Blazing Bees,Mumbai,Bharat Ramnani & Bhavishya Garg,"Medicaps Inst of Tech & Management, Indore",Bharat Ramnani,Bhavishya Garg,2k15_3,2k15_3
4,4,2764,Rayfield LeGeNdS,Mumbai,Akshay Damodaran & Niranjan Sharma,"Ramrao Adik Institute of Technology,Nerul",Akshay Damodaran,Niranjan Sharma,2k15_4,2k15_4

In [18]:
not_matched_mod_index_2k15=np.setdiff1d(college_list_2k15.mod_index.values,list(results_2k15_df.mod_index.unique()))
assert len(not_matched_mod_index_2k15)==0

In [19]:
results_2k16_df=results_2k16_df.rename(columns={'college_name':'college_name_prerectified','college_name_modified':'college_name','tcs_region':'tcs_region_prerectified','tcs_region_modified':'tcs_region'})

In [20]:
results_2k16_df=results_2k16_df.merge(college_list_2k16.loc[:,['mod_index','master_mod_index','college_name']],how='left',left_on='college_name',right_on='college_name')

In [21]:
results_2k16_df.head()

,college_name_prerectified,ranks,tcs_region_prerectified,team_name,user_name,user_1,user_2,college_name,tcs_region,mod_index,master_mod_index
0,"Kalyani Govt. Engg. College, WB",1,Kolkata,kgeccoders11,Soumik Sarkar & Subham Das,Soumik Sarkar,Subham Das,"Kalyani Govt. Engg. College, WB",Kolkata,2k16_0,2k15_24
1,IIT 足 PATNA,2,Kolkata,CrazyDot,Gagan Kumar & Shifona Garg,Gagan Kumar,Shifona Garg,IIT 足 PATNA,Kolkata,2k16_1,2k15_68
2,Institute of Engg,3,Kolkata,RRecursion,Priyanjit Dey & Sayantan Basu,Priyanjit Dey,Sayantan Basu,Institute of Engg,Kolkata,2k16_2,2k15_5
3,nit patna,4,Kolkata,knowsnoalgo,Ranjan Kumar & Abhishek Kumar,Ranjan Kumar,Abhishek Kumar,nit patna,Kolkata,2k16_3,2k16_3
4,"Indian Institute Of Technology, Hyderabad",5,Hyderabad,voidcoders,Shubham Matta & Yash Pitroda,Shubham Matta,Yash Pitroda,"Indian Institute Of Technology, Hyderabad",Hyderabad,2k16_4,2k15_380

In [22]:
not_matched_mod_index_2k16=np.setdiff1d(college_list_2k16.mod_index.values,list(results_2k16_df.mod_index.unique()))
not_matched_mod_index_2k16
#assert len(not_matched_mod_index_2k16)==0

array(['2k16_145'], dtype=object)

In [23]:
college_list_2k16[college_list_2k16.mod_index.isin(not_matched_mod_index_2k16)]

,coll_name_case_independent,coll_name_norm_wo_common_words,coll_name_norm_wo_common_words_v2,college_name,college_name_normalized,master_mod_index,mod_index,tcs_region
693,nil_2k16,nil_2k16,nil_2k16,NIL_2k16,nil_2k16,2k16_145,2k16_145,Delhi

The single rogue entry below can be accepted since it is a nil value or an unknown value

In [24]:
results_2k17_df=results_2k17_df.merge(college_list_2k17.loc[:,['mod_index','master_mod_index','college_name']],how='left',left_on='college_name',right_on='college_name')

In [25]:
results_2k17_df.head()

,Unnamed: 0,college_name,problems_solved,round1_rank,user_name,zonal_name,zonal_rank,mod_index,master_mod_index
0,0,Dhirubhai Ambani Inst of Information & Communi...,6,1,MOHIB MANVA,zone1,1,2k17_96,2k15_234
1,1,Dhirubhai Ambani Inst of Information & Communi...,6,2,SAGAR SAVALIYA,zone1,2,2k17_96,2k15_234
2,2,"Indian Institute Of Technology, Hyderabad",6,3,VINOD DEVANABOINA,zone2,1,2k17_188,2k15_380
3,3,"School of IT, Guru Gobind Indraprastha Univ, D...",6,4,VIKRAM PANWAR,zone3,1,2k17_395,2k15_232
4,4,IIT - PATNA,5,5,GAGAN KUMAR,zone3,2,2k17_174,2k15_68

In [26]:
not_matched_mod_index_2k17=np.setdiff1d(college_list_2k17.mod_index.values,list(results_2k17_df.mod_index.unique()))
not_matched_mod_index_2k17
assert len(not_matched_mod_index_2k17)==0

Linking master college names and master college regions

In [27]:
results_2k15_df=results_2k15_df.merge(college_list.loc[:,['college_name','tcs_region','mod_index']],left_on='master_mod_index',right_on='mod_index',suffixes=('','_master'))

In [28]:
results_2k15_df=results_2k15_df.drop('mod_index_master',axis=1)

In [29]:
results_2k15_df.head()

,Unnamed: 0,Rank,team_name,tcs_region,users_name,college_name,user_1,user_2,mod_index,master_mod_index,college_name_master,tcs_region_master
0,0,2294,CRUSADERS,Chennai,Arjun Panicker & Aditya Bharti,"Srm Engineering College., Kattankulathur",Arjun Panicker,Aditya Bharti,2k15_0,2k15_0,"Srm Engineering College., Kattankulathur",Chennai
1,246,876,Ridifyne,Chennai,Eesh Chilukalapalli & Shreya Singh,"Srm Engineering College., Kattankulathur",Eesh Chilukalapalli,Shreya Singh,2k15_0,2k15_0,"Srm Engineering College., Kattankulathur",Chennai
2,816,2523,PFCoderz,Chennai,Nitin Tonger & Abhijat Shrivastava,"Srm Engineering College., Kattankulathur",Nitin Tonger,Abhijat Shrivastava,2k15_0,2k15_0,"Srm Engineering College., Kattankulathur",Chennai
3,1146,953,Pied Piper,Chennai,Riddhi Datta & Promit Roy,"Srm Engineering College., Kattankulathur",Riddhi Datta,Promit Roy,2k15_0,2k15_0,"Srm Engineering College., Kattankulathur",Chennai
4,1399,1661,DarkKnight Coders,Chennai,Idhant Haldankar & Vaibhav Shelke,"Srm Engineering College., Kattankulathur",Idhant Haldankar,Vaibhav Shelke,2k15_0,2k15_0,"Srm Engineering College., Kattankulathur",Chennai

In [30]:
results_2k16_df=results_2k16_df.merge(college_list.loc[:,['college_name','tcs_region','mod_index']],left_on='master_mod_index',right_on='mod_index',suffixes=('','_master'))
results_2k16_df=results_2k16_df.drop('mod_index_master',axis=1)
results_2k16_df.head()

,college_name_prerectified,ranks,tcs_region_prerectified,team_name,user_name,user_1,user_2,college_name,tcs_region,mod_index,master_mod_index,college_name_master,tcs_region_master
0,"Kalyani Govt. Engg. College, WB",1,Kolkata,kgeccoders11,Soumik Sarkar & Subham Das,Soumik Sarkar,Subham Das,"Kalyani Govt. Engg. College, WB",Kolkata,2k16_0,2k15_24,"Kalyani Govt. Engg. College, WB",Kolkata
1,"Kalyani Govt. Engg. College, WB",194,Kolkata,APOCALYPSE666,Sujit Prasad & Souvik Nandi,Sujit Prasad,Souvik Nandi,"Kalyani Govt. Engg. College, WB",Kolkata,2k16_0,2k15_24,"Kalyani Govt. Engg. College, WB",Kolkata
2,"Kalyani Govt. Engg. College, WB",269,Kolkata,learningcode,Sayak Pramanik & Shivam Tiwari,Sayak Pramanik,Shivam Tiwari,"Kalyani Govt. Engg. College, WB",Kolkata,2k16_0,2k15_24,"Kalyani Govt. Engg. College, WB",Kolkata
3,"Kalyani Govt. Engg. College, WB",859,Kolkata,kgecCoders123,Arnab Mondal & Aditya Jain,Arnab Mondal,Aditya Jain,"Kalyani Govt. Engg. College, WB",Kolkata,2k16_0,2k15_24,"Kalyani Govt. Engg. College, WB",Kolkata
4,"Kalyani Govt. Engg. College, WB",1204,Kolkata,smartbugs,Pallab Ganguly & Namrata Guptaroy,Pallab Ganguly,Namrata Guptaroy,"Kalyani Govt. Engg. College, WB",Kolkata,2k16_0,2k15_24,"Kalyani Govt. Engg. College, WB",Kolkata

In [31]:
results_2k17_df=results_2k17_df.merge(college_list.loc[:,['college_name','tcs_region','mod_index']],left_on='master_mod_index',right_on='mod_index',suffixes=('','_master'))
results_2k17_df=results_2k17_df.drop('mod_index_master',axis=1)
results_2k17_df.head()

,Unnamed: 0,college_name,problems_solved,round1_rank,user_name,zonal_name,zonal_rank,mod_index,master_mod_index,college_name_master,tcs_region
0,0,Dhirubhai Ambani Inst of Information & Communi...,6,1,MOHIB MANVA,zone1,1,2k17_96,2k15_234,Dhirubhai Ambani Inst of Information & Communi...,Ahmedabad
1,1,Dhirubhai Ambani Inst of Information & Communi...,6,2,SAGAR SAVALIYA,zone1,2,2k17_96,2k15_234,Dhirubhai Ambani Inst of Information & Communi...,Ahmedabad
2,10,Dhirubhai Ambani Inst of Information & Communi...,5,11,SUPARSHVA MEHTA,zone1,3,2k17_96,2k15_234,Dhirubhai Ambani Inst of Information & Communi...,Ahmedabad
3,28,Dhirubhai Ambani Inst of Information & Communi...,4,29,UMANG UPADHYAY,zone1,5,2k17_96,2k15_234,Dhirubhai Ambani Inst of Information & Communi...,Ahmedabad
4,97,Dhirubhai Ambani Inst of Information & Communi...,4,98,KALPESH PRAJAPATI,zone1,21,2k17_96,2k15_234,Dhirubhai Ambani Inst of Information & Communi...,Ahmedabad

In [32]:
results_2k17_df=results_2k17_df.rename(columns={'tcs_region':'tcs_region_master'})

In [33]:
results_2k15_df.to_excel('./results_2k15_backlinked.xlsx',index=False)
results_2k16_df.to_excel('./results_2k16_backlinked.xlsx',index=False)
results_2k17_df.to_excel('./results_2k17_backlinked.xlsx',index=False)