In [30]:
import pandas as pd
from six.moves import urllib
%qtconsole

In [2]:
from bs4 import BeautifulSoup

In [23]:
url=r'http://www.programminggeek.in/2016/08/tcs-codevita-2016-round-1-result.html'
csv_save_path=r'/mnt/ECFC8291FC8255AC/Datasets/Codevita Results/Codevita_2k16_round1_scrapped.csv'

In [4]:
html_pg=urllib.request.urlopen(url).read()

In [5]:
soup_wrapper=BeautifulSoup(html_pg)

/home/rwikdutta/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /home/rwikdutta/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [6]:
soup_wrapper_table_body=soup_wrapper.find(id='post-body-1057866455376367824').tbody

In [7]:
soup_wrapper_table_body==None

False

In [8]:
soup_wrapper_table_body.prettify()[:500]

'<tbody>\n <tr class="active">\n  <td>\n   1\n  </td>\n  <td>\n   kgeccoders11\n  </td>\n  <td>\n   Soumik Sarkar &amp; Subham Das\n  </td>\n  <td>\n   Kolkata\n  </td>\n  <td>\n   Kalyani Govt. Engg. College, WB\n  </td>\n </tr>\n <tr class="success">\n  <td>\n   2\n  </td>\n  <td>\n   CrazyDot\n  </td>\n  <td>\n   Gagan Kumar &amp; Shifona Garg\n  </td>\n  <td>\n   Kolkata\n  </td>\n  <td>\n   IIT \xad PATNA\n  </td>\n </tr>\n <tr class="info">\n  <td>\n   3\n  </td>\n  <td>\n   RRecursion\n  </td>\n  <td>\n   Priyanjit Dey &amp; Sayantan '

In [9]:
#Initializing lists for each columns
ranks=[]
team_name=[]
user_name=[]
tcs_region=[]
college_name=[]

In [10]:
for row in soup_wrapper_table_body.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==5: #Sanity Check
        ranks.append(cells[0].find(text=True))
        team_name.append(cells[1].find(text=True))
        user_name.append(cells[2].find(text=True))
        tcs_region.append(cells[3].find(text=True))
        college_name.append(cells[4].find(text=True))
    else:
        raise IndexError(cells)

In [11]:
[len(ranks),len(team_name),len(user_name),len(tcs_region),len(college_name)]

[4150, 4150, 4150, 4150, 4150]

In [12]:
df_table=pd.DataFrame({'ranks':ranks,'team_name':team_name,'user_name':user_name,'tcs_region':tcs_region,'college_name':college_name})

In [13]:
df_table.describe()

,college_name,ranks,tcs_region,team_name,user_name
count,4133,4149,4150,4150,4150
unique,786,4149,131,4144,4150
top,Institute of Engg,3004,Kolkata,Team,Prakhar Srivastava & Mahendra Maurya
freq,91,1,686,5,1

Missing values in ranks and college name...

In [17]:
df_table[pd.isnull(df_table.college_name)]

,college_name,ranks,tcs_region,team_name,user_name
318,None,319,Delhi,manas,Manish Sharma & Ashwini Sharma
615,None,616,Kolkata,Millenium Falcon,Ronit Ray & Shalini Guha
1197,None,1198,Hyderabad,Code Chefers,Munnangi Priyanka & Kavitha Mupparaju
1427,None,1428,Ahmedabad,The 2Geeks,Drashti Buch & Heli Patel
1516,None,1517,Trivandrum,nambeeshan,Muhammedfavas Ck & Bovas K
1710,None,1711,Ahmedabad,shetansneha,Mevada Girishbhai & Vasani Navinbhai
1723,None,1724,Ahmedabad,CodeBurns,Hitarth Doctor & Nilay Ankleshwaria
1808,None,1809,Hyderabad,Lights,Out Amit & Prasannakumar Boddupalli
1951,None,1952,RVR,triamphants,Narayanaraju Sarikonda & Anisetty Hyderabad
2195,None,2196,Ahmedabad,vitacrackers10,Parth Patel & Neel Popat
2225,None,2226,Kolkata,ANONYMOUS123,Soumyarup Routh & Swapnil Mukhopadhyay
2246,None,2247,Lucknow,ultron4lead,Vaibhav Singh & Saurabh Vishwakarma
2649,None,2650,Trivandrum,ALCODERO,Alan John & Ros Pattara
2650,None,2651,Ahmedabad,CODEMK,Kaumil Trivedi & Mit Shah
3240,None,3241,Ahmedabad,tnt101,Vyas Dipak & Koshti Dipakbhai
3467,None,3468,TECHNOLOGY,innovative thinking,Sukanya Narravula & Ammineni Hyderabad
3694,None,3695,Trivandrum,TeamVS62,Vivek Mohan & Shajil K

In [18]:
df_table[pd.isnull(df_table.ranks)]

,college_name,ranks,tcs_region,team_name,user_name
3377,SASTRA University,None,Chennai,3378 Tweak It Vijay Saayi R,& Siva P

On checking the original url, it can be seen that this particular row has the rank wrongly embedded in the team name column...and also a part of the username is embedded in the team name column

In [19]:
df_table.ranks.loc[3377]=3378

In [20]:
df_table.team_name.loc[3377]='Tweak It'

In [21]:
df_table.user_name.loc[3377]='Vijay Saayi R & Siva P'

In [22]:
df_table.loc[3377]

college_name         SASTRA University
ranks                             3378
tcs_region                     Chennai
team_name                     Tweak It
user_name       Vijay Saayi R & Siva P
Name: 3377, dtype: object

In [29]:
pd.set_option('display.max_rows',200)
df_table.tcs_region.value_counts()

Kolkata           686
Delhi             677
Hyderabad         634
Mumbai            605
Ahmedabad         349
Chennai           326
Lucknow           259
Pune              175
Trivandrum        160
Bangalore          54
Manakula           15
Indian              8
V.S.B.              7
DEENBANDHU          7
Institute           5
RMK                 5
RGUKT               5
YMCA                4
National            4
Haldia              4
K.RAMAKRISHNAN      4
Cochin              4
Meerut              4
Fr.                 4
SRI                 3
Krishna             3
Gandhi              3
CVR                 3
JMIT                3
Meenakshi           3
Dept                3
NETAJI              3
Army                3
Arya                2
Ganesh              2
Sri                 2
FACULTY             2
Maharishi           2
G                   2
Madan               2
VNR                 2
Poornima            2
Gokaraju            2
Bhilai              2
Zakir               2
Rajalakshmi         2
Central             2
Techno              2
BITS                2
IIIT,               2
K.                  2
Federal             2
Anil                2
V                   1
Oriental            1
Bapuji              1
Lovely              1
Amrita              1
K.S.Institute       1
Siddaganga          1
institution         1
GITAM               1
Arunai              1
Datta               1
D.                  1
Coimbatore          1
Birla               1
Dharamsinh          1
Ramrao              1
Punjabi             1
Kamaraj             1
Dr.                 1
VISHNU              1
Biju                1
Vel                 1
Manav               1
Jaipur              1
Thiagarajar         1
NBKR                1
Pondicherry         1
Walchand            1
Chitkara            1
Gayatri             1
Don                 1
Ambedkar            1
JSS                 1
Vardhaman           1
Bharath             1
Bundelkhand         1
Rajiv               1
Jawaharlal          1
Mahatma             1
B.M.S.              1
College             1
Birsa               1
Thadomal            1
Punjab              1
Koneru              1
MAR                 1
Sree                1
J.                  1
GNDU,               1
SIDDHARTH           1
KCG                 1
Vivekananda         1
Valliammai          1
Velammal            1
Sahyadri            1
Other               1
RVR                 1
VELAMMAL            1
Chaitanya           1
Karpagam            1
NRI                 1
Kakatiya            1
ABES                1
MANAKULA            1
Shri                1
SRM                 1
COE                 1
Ajay                1
K.S.R               1
Prof.               1
vasireddy           1
VIT                 1
School              1
Gudlavalleru        1
TECHNOLOGY          1
Malnad              1
PSG                 1
KLN                 1
Name: tcs_region, dtype: int64

In [24]:
df_table.to_csv(csv_save_path)

In [28]:
df_table[df_table.tcs_region=='Haldia']

,college_name,ranks,tcs_region,team_name,user_name
366,"Instt of Technology, Haldia ­ W.B.",367,Haldia,CodingGurus,Debargha Bhattacharjee & Hariom Kolkata
1227,"Instt of Technology, Haldia ­ W.B.",1228,Haldia,CalmCoders,Himanshu & Uttam Kolkata
1887,"Instt of Technology, Haldia ­ W.B.",1888,Haldia,AngryFool,Md Khan & Nityansh Kolkata
1993,"Instt of Technology, Haldia ­ W.B.",1994,Haldia,base coder,Anita Kumari & Aditi Kolkata